.even,
.odd {
    margin-top: 10%;
}

.even p,
.even h3,
.odd p,
.odd h3 {
    padding-top: 5%;
}

.even img,
.odd img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 563px;
    max-height: 441px;
    padding-top: 5%;
    padding-bottom: 5%;
}