.menu {
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu a {
    color: white;
}

.menu .col-3 {
    background-color: gray;
    padding-bottom: 1%;
    padding-top: 1%;
    width: 100%;
    height: 100%;
}


/*Efectos*/

.menu .col-3:hover {
    background-color: black;
}

.menu a:hover {
    text-decoration: none;
}

.even,
.odd {
    margin-top: 10%;
}

.even p,
.even h3,
.odd p,
.odd h3 {
    padding-top: 5%;
}

.even img,
.odd img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 563px;
    max-height: 441px;
    padding-top: 5%;
    padding-bottom: 5%;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    .menu span {
        display: none;
    }
}